<!doctype html>
<html class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="The description of my page"/>
    <title>{{title}}</title>
    {{!-- 第三方样式  --}}
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-datetimepicker.css'/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.css'/>
    {{!-- <link<rel='stylesheet', href='/stylesheets/uploadify.css'/> --}}

    {{!-- 本地样式  --}}
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    {{!-- 兼容性js  --}}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/stylesheets/html5shiv.min.js"></script>
    <script src="/stylesheets/respond.min.js"></script>
    <![endif]-->

    {{!-- 第三方js  --}}
    <script type="text/javascript" src='/javascripts/modernizr.js'></script>
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap-datetimepicker.js'></script>
    <script type="text/javascript" src='/javascripts/bootstrap-datetimepicker.zh-CN.js'></script>
    <script type="text/javascript" src='/javascripts/json2.js'></script>
    <script type="text/javascript" src='/javascripts/jquery.base64.js'></script>
    <script type="text/javascript" src='/javascripts/jquery.validate.js'></script>
    <script type="text/javascript" src='/javascripts/jquery.validate.messages_zh.js'></script>
    <script type="text/javascript" src='/javascripts/bignumber.js'></script>
    {{!-- <script type="text/javascript" src='/javascripts/highcharts.js' ></script> --}}
    {{!-- <script<type="text/javascript" src='/javascripts/jquery.uploadify.js' ></script> --}}
    {{!-- <script<type="text/javascript" src='/javascripts/tinymce.js' ></script> --}}
    {{!-- <script<type="text/javascript" src='/javascripts/jquery.tinymce.min.js' ></script> --}}
    {{!-- <script<type="text/javascript" src='/javascripts/langs/zh_CN.js' ></script> --}}

    {{!-- 本地js  --}}
    <script type="text/javascript" src='/javascripts/sorex-extend.js'></script>
    {{{block "head"}}}
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"/>
                <span class="icon-bar"/>
                <span class="icon-bar"/>
            </button>
            <a class="navbar-brand" herf='/'>计算设备检索</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href='/'>主页</a></li>
                <li><a href='/user'>用户</a></li>
                {{#each user.roles}}
                    {{#compare this.ID '==' 'admin'}}
                <li><a href='/manage_user'>管理用户</a></li>
                <li><a href='/manage_role'>管理角色</a></li>
                <li><a href='/manage_group'>管理组</a></li>
                {{/compare}}
                {{/each}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                    <li><a href='/user/{{user.ID}}'>{{user.RealName}}</a></li>
                {{else}}
                    <li><a href='/login'>登录</a></li>
                    <li><a href='/register'>注册</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</header>
<div class="container body-content">
    {{{body}}}
</div>
<footer class="container">
    <hr/>
    <p> &copy; #{new Date().getFullYear()} - 我的 Nodejs 应用程序</p>
</footer>
{{{block "scripts"}}}
</body>
</html>